* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: #be3144;
  height: 10.5vh;
  padding: 1.5rem 4rem;
  position: fixed;
  z-index: 9;
}

.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  margin-top: -0.3rem;
}

.navigation li {
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
}

.navigation__link {
  text-decoration: none;
  color: #fff;
  padding: 1.2rem;
  text-align: center;
}

.navigation__link:hover {
  background-color: #45567d;
  transition: background-color 1s;
}

.welcome-section {
  width: 100%;
  background-image: linear-gradient(225deg, #1d1c1e, #36393b);
  height: 100vh;
  display: flex;
  align-items: center;
}

.welcome-section__textbox {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.welcome__title--main {
  font-size: 3.5rem;
  letter-spacing: 1.2;
  color: #fff;
}

.welcome__title--sub {
  font-size: 2.5rem;
  color: #be3144;
  font-style: italic;
  font-weight: 300;
}

.project-section {
  width: 100%;
  height: auto;
  background-color: #45567d;
  padding: 5rem 7rem;
  padding-bottom: 3rem;
}

.project__title {
  width: 55%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  border-bottom: 2px solid #fff;
}

.project-samples__div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 4rem;
  gap: 2rem;
}

.project-section__sample {
  flex-basis: 30%;
  border: 1px solid #000;
}

.project-sample--image {
  width: 100%;
  height: 55vh;
}

.image-caption {
  background-color: #303841;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1.2rem;
  height: 10vh;
  margin-top: -5px;
  font-weight: 300;
}

.btn-div {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  text-align: center;
}

.project-section__btn {
  text-decoration: none;
  display: inline-block;
  background-color: #303841;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.8rem 1rem;
  margin: 0 auto;
}

.contact-section {
  background-color: #303841;
  color: #fff;
  padding: 7rem 2rem;
  height: 75vh;
  display: flex;
  align-items: center;
  border-bottom: 5px solid #be3144;
}

.contact-section__textbox {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.contact-title--main {
  font-size: 4.2rem;
  margin-bottom: 1rem;
}

.contact-title--sub {
  font-style: italic;
  font-weight: 300;
  font-size: 1.2rem;
}

.social-media__section {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  position: relative;
}

.social-media__icon--link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.social-media__icon--link:hover {
  color: #be3144;
  transition: color 0.5s;
}

.footer {
  height: 15vh;
  background-color: #303841;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__text {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

@media (max-width: 1070px) {
  .project-samples__div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .social-media__icon--link {
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .project-samples__div {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 6);
  }

  .social-media__icon--link {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .project-samples__div {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 6);
  }

  .social-media__section {
    margin: 1.5rem auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
  }

  .social-media__icon--link {
    font-size: 1rem;
  }

  .project-section__sample {
    flex-basis: 100%;
  }

  .project-section {
    padding: 5rem 2rem;
  }

  .contact-section__textbox {
    width: 100%;
  }

  .contact-section {
    padding: 7rem 2rem 4rem;
  }

  .footer__text {
    font-size: 1rem;
    justify-content: space-between;
  }

  .footer__text--main {
    width: 60%;
  }

  .footer__text--side {
    flex-basis: 30%;
  }
}
